canvas {
    border: solid .3em #EF5350;
    height: 80vh;
}

.container {
    margin-top: 10px;
}

td,
th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    font-weight: 600;
}

.mbox-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    outline: 0;
    background: rgb(33, 33, 33);
}

.mbox {
    max-width: 600px;
    width: 100%;
    position: absolute;
    padding: 15px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

#game {
    color: #F44336;
    font-weight: 600;
}

#over {
    color: #4CAF50;
    font-weight: 600;
}

#playerscore {
    font-size: 50px;
}

#restart {
    font-weight: 600;
}

.controller {
    font-size: 24px;
    font-weight: 300;
}

nav {
    height: 64px;
    line-height: 64px;
    margin-bottom: 15px;
}

/* Fixing Bootbox and Materialze box clashing so hiding the backend */

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0);
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.00), 0 3px 14px 2px rgba(0, 0, 0, 0.00), 0 5px 5px -3px rgbargba(0, 0, 0, 0.00);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.00), 0 3px 14px 2px rgba(0, 0, 0, 0.00), 0 5px 5px -3px rgba(0, 0, 0, 0.00);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #F44336;
    font-weight: 600;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}
#avatar {
    margin-top: 25px;
    height: 150px;
    width: 150px;
}